<?xml version="1.0" encoding="utf-8"?>
<charset>
  <FileVersion>2</FileVersion>
  <BK1>07</BK1>
  <BK2>77</BK2>
  <Col3>37</Col3>
  <Reversed>False</Reversed>
  <Multicolour>False</Multicolour>
  <Uppercase>True</Uppercase>
  <character>
    <charcode>27</charcode>
    <chardata>
      <data>252</data>
      <data>240</data>
      <data>224</data>
      <data>192</data>
      <data>128</data>
      <data>128</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>28</charcode>
    <chardata>
      <data>63</data>
      <data>15</data>
      <data>7</data>
      <data>3</data>
      <data>1</data>
      <data>1</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>29</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>1</data>
      <data>1</data>
      <data>3</data>
      <data>7</data>
      <data>15</data>
      <data>63</data>
    </chardata>
  </character>
  <character>
    <charcode>30</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>128</data>
      <data>128</data>
      <data>192</data>
      <data>224</data>
      <data>240</data>
      <data>252</data>
    </chardata>
  </character>
  <character>
    <charcode>31</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>0</data>
      <data>0</data>
      <data>255</data>
      <data>255</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>32</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>33</charcode>
    <chardata>
      <data>3</data>
      <data>15</data>
      <data>31</data>
      <data>63</data>
      <data>127</data>
      <data>127</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>34</charcode>
    <chardata>
      <data>231</data>
      <data>231</data>
      <data>227</data>
      <data>240</data>
      <data>120</data>
      <data>127</data>
      <data>63</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>35</charcode>
    <chardata>
      <data>231</data>
      <data>231</data>
      <data>199</data>
      <data>15</data>
      <data>30</data>
      <data>254</data>
      <data>252</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>36</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>37</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>38</charcode>
    <chardata>
      <data>231</data>
      <data>231</data>
      <data>231</data>
      <data>231</data>
      <data>231</data>
      <data>231</data>
      <data>231</data>
      <data>231</data>
    </chardata>
  </character>
  <character>
    <charcode>39</charcode>
    <chardata>
      <data>255</data>
      <data>0</data>
      <data>255</data>
      <data>0</data>
      <data>231</data>
      <data>231</data>
      <data>231</data>
      <data>231</data>
    </chardata>
  </character>
  <character>
    <charcode>40</charcode>
    <chardata>
      <data>248</data>
      <data>30</data>
      <data>238</data>
      <data>22</data>
      <data>231</data>
      <data>231</data>
      <data>231</data>
      <data>231</data>
    </chardata>
  </character>
  <character>
    <charcode>41</charcode>
    <chardata>
      <data>31</data>
      <data>120</data>
      <data>119</data>
      <data>104</data>
      <data>231</data>
      <data>231</data>
      <data>231</data>
      <data>231</data>
    </chardata>
  </character>
  <character>
    <charcode>42</charcode>
    <chardata>
      <data>255</data>
      <data>0</data>
      <data>255</data>
      <data>0</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>43</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>0</data>
      <data>0</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>44</charcode>
    <chardata>
      <data>0</data>
      <data>255</data>
      <data>255</data>
      <data>0</data>
      <data>0</data>
      <data>255</data>
      <data>255</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>45</charcode>
    <chardata>
      <data>0</data>
      <data>252</data>
      <data>254</data>
      <data>30</data>
      <data>15</data>
      <data>199</data>
      <data>231</data>
      <data>231</data>
    </chardata>
  </character>
  <character>
    <charcode>46</charcode>
    <chardata>
      <data>0</data>
      <data>63</data>
      <data>127</data>
      <data>120</data>
      <data>240</data>
      <data>227</data>
      <data>231</data>
      <data>231</data>
    </chardata>
  </character>
  <character>
    <charcode>47</charcode>
    <chardata>
      <data>0</data>
      <data>48</data>
      <data>120</data>
      <data>120</data>
      <data>48</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
</charset>
